# Web Scraping

## Scraping Car Data from 'cars.com'
## Focusing on the Brand 'BMW'
## Data points 
- Name
- Vehicle Dealer
- Price
- Rating
- Reviews

In [2]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
import requests
import pandas as pd
import openpyxl

In [3]:
website = 'https://www.cars.com/shopping/results/?stock_type=new&makes%5B%5D=bmw&models%5B%5D=&list_price_max=&maximum_distance=all&zip=='

In [4]:
response = requests.get(website)
response.status_code

200

## Object to get HTML elements

In [5]:
bs = BeautifulSoup(response.content, 'html.parser')

In [6]:
bs.h1

## Creating list to store details

In [7]:
results = bs.find_all('div',{'class' : 'vehicle-card'})

In [8]:
len(results)

20

### As we have ony 20 results displaced on the webpage, the 'length' of the variable 'result' is 20.

## Targeting the data points for the first car

### Name

In [9]:
results[0].find('h2').get_text()

'2022 BMW 330 i'

### Dealer name

In [10]:
results[0].find('div',{'class':'dealer-name'}).get_text().strip()

'BMW of Roseville'

### Price

In [11]:
results[0].find('span',{'class':'primary-price'}).get_text()

'$45,730'

### Rating

In [12]:
results[0].find('span',{'class':'sds-rating__count'}).get_text()

'4.7'

### Reviews

In [13]:
results[0].find('span',{'class':'sds-rating__link sds-button-link'}).get_text()

'(555 reviews)'

## Getting data from all the cars listed

In [14]:
name = []
#model_year = []
dealer_name = []
rating = []
reviews = []
price = []

for result in results:
    
    # name
    try:
        name.append(result.find('h2').get_text()) 
    except:
        name.append('n/a')

    '''# model_year
    try:
        name.append(result.find('h2').get_text()[0:4]) 
    except:
        name.append('n/a')
    '''
    # dealer_name
    try:
        dealer_name.append(result.find('div', {'class':'dealer-name'}).get_text().strip())
    except:
        dealer_name.append('n/a')
        
    # rating
    try:
        rating.append(result.find('span', {'class':'sds-rating__count'}).get_text())
    except:
        rating.append('n/a')
    
    # reviews
    try:
        reviews.append(result.find('span', {'class':'sds-rating__link'}).get_text())
    except:
        reviews.append('n/a')
    
    # price 
    try:
        price.append(result.find('span', {'class':'primary-price'}).get_text())
    except:
        price.append('n/a')

## Creating a Dataframe

In [15]:
car_dealer = pd.DataFrame({'Name': name, 'Dealer Name':dealer_name,
                                'Rating': rating, 'Reviews': reviews, 'Price': price})

In [16]:
car_dealer.head(10)

,Name,Dealer Name,Rating,Reviews,Price
0,2022 BMW 330 i,BMW of Roseville,4.7,(555 reviews),"$45,730"
1,2018 BMW X3 xDrive30i,Basney BMW,5.0,(2 reviews),"$36,463"
2,2021 BMW 330 i,BMW of Vista,4.6,(351 reviews),"$47,120"
3,2022 BMW 330 i,Advantage BMW Midtown,4.4,(535 reviews),"$47,090"
4,2021 BMW 330 i,BMW of Vista,4.6,(351 reviews),"$46,350"
5,2021 BMW 330 i,BMW of Roseville,4.7,(555 reviews),"$45,780"
6,2021 BMW 228 Gran Coupe 228i sDrive Gran Coupe,BMW of Corpus Christi,4.7,(267 reviews),"$39,145"
7,2021 BMW 228 Gran Coupe i xDrive,Erhard BMW of Bloomfield Hills,4.8,(839 reviews),"$43,380"
8,2021 BMW X3 sDrive30i,Santa Barbara Auto Group,3.4,(20 reviews),Not Priced
9,2021 BMW X3 xDrive30i,Santa Barbara Auto Group,3.4,(20 reviews),Not Priced

## Cleaning Reviews Column

In [17]:
car_dealer['Reviews'] = car_dealer['Reviews'].apply(lambda x: x.strip('reviews)').strip('('))

In [18]:
car_dealer

,Name,Dealer Name,Rating,Reviews,Price
0,2022 BMW 330 i,BMW of Roseville,4.7,555,"$45,730"
1,2018 BMW X3 xDrive30i,Basney BMW,5.0,2,"$36,463"
2,2021 BMW 330 i,BMW of Vista,4.6,351,"$47,120"
3,2022 BMW 330 i,Advantage BMW Midtown,4.4,535,"$47,090"
4,2021 BMW 330 i,BMW of Vista,4.6,351,"$46,350"
5,2021 BMW 330 i,BMW of Roseville,4.7,555,"$45,780"
6,2021 BMW 228 Gran Coupe 228i sDrive Gran Coupe,BMW of Corpus Christi,4.7,267,"$39,145"
7,2021 BMW 228 Gran Coupe i xDrive,Erhard BMW of Bloomfield Hills,4.8,839,"$43,380"
8,2021 BMW X3 sDrive30i,Santa Barbara Auto Group,3.4,20,Not Priced
9,2021 BMW X3 xDrive30i,Santa Barbara Auto Group,3.4,20,Not Priced
10,2021 BMW X1 sDrive28i,BMW of Palm Springs,4.8,516,"$40,315"
11,2021 BMW 330 i,BMW of Roseville,4.7,555,"$46,170"
12,2021 BMW X3 sDrive30i,Nick Alexander Imports,4.8,226,"$47,670"
13,2021 BMW 330 i,BMW of Roseville,4.7,555,"$47,200"
14,2021 BMW 330 i,BMW of Palm Springs,4.8,516,"$45,095"
15,2021 BMW 330 i xDrive,BMW Portland,4.8,"1,018","$47,480"
16,2021 BMW X1 sDrive28i,BMW of El Paso,4.4,133,"$43,595"
17,2020 BMW 228 Gran Coupe i xDrive,BMW of El Cajon,4.8,537,"$43,995"
18,2021 BMW X1 xDrive28i,BMW of Fairfield,n/a,n/a,"$46,530"
19,2021 BMW X1 sDrive28i,Braman Motors Miami,4.8,"2,638","$40,685"

## Storing it in Excel

In [19]:
car_dealer.to_excel('single_car_page.xlsx', index = False)

## Pagination - For multiple pages

In [20]:
name = []
#model_year = []
dealer_name = []
rating = []
reviews = []
price = []

for i in range(1,21):
    
    #website
    website = 'https://www.cars.com/shopping/results/?page=' + str(i) + '&page_size=20&list_price_max=&makes[]=bmw&maximum_distance=all&models[]=&stock_type=new&zip='

    #response
    response = requests.get(website)

    #soup object
    bs = BeautifulSoup(response.content, 'html.parser')

    #results
    results = bs.find_all('div',{'class' : 'vehicle-card'})
    
    for result in results:

        # name
        try:
            name.append(result.find('h2').get_text()) 
        except:
            name.append('n/a')

        '''# model_year
        try:
            name.append(result.find('h2').get_text()[0:4]) 
        except:
            name.append('n/a')
        '''
        # dealer_name
        try:
            dealer_name.append(result.find('div', {'class':'dealer-name'}).get_text().strip())
        except:
            dealer_name.append('n/a')
            
        # rating
        try:
            rating.append(result.find('span', {'class':'sds-rating__count'}).get_text())
        except:
            rating.append('n/a')
        
        # reviews
        try:
            reviews.append(result.find('span', {'class':'sds-rating__link'}).get_text())
        except:
            reviews.append('n/a')
        
        # price 
        try:
            price.append(result.find('span', {'class':'primary-price'}).get_text())
        except:
            price.append('n/a')

## Creating a Dataframe

In [21]:
car_dealer = pd.DataFrame({'Name': name, 'Dealer Name':dealer_name,
                                'Rating': rating, 'Reviews': reviews, 'Price': price})

In [22]:
car_dealer.head(10)

,Name,Dealer Name,Rating,Reviews,Price
0,2022 BMW 330 i,BMW of Roseville,4.7,(555 reviews),"$45,730"
1,2018 BMW X3 xDrive30i,Basney BMW,5.0,(2 reviews),"$36,463"
2,2021 BMW 330 i,BMW of Vista,4.6,(351 reviews),"$47,120"
3,2022 BMW 330 i,Advantage BMW Midtown,4.4,(535 reviews),"$47,090"
4,2021 BMW 330 i,BMW of Vista,4.6,(351 reviews),"$46,350"
5,2021 BMW 330 i,BMW of Roseville,4.7,(555 reviews),"$45,780"
6,2021 BMW 228 Gran Coupe 228i sDrive Gran Coupe,BMW of Corpus Christi,4.7,(267 reviews),"$39,145"
7,2021 BMW 228 Gran Coupe i xDrive,Erhard BMW of Bloomfield Hills,4.8,(839 reviews),"$43,380"
8,2021 BMW X3 sDrive30i,Santa Barbara Auto Group,3.4,(20 reviews),Not Priced
9,2021 BMW X3 xDrive30i,Santa Barbara Auto Group,3.4,(20 reviews),Not Priced

## Checking the data

In [23]:
car_dealer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         398 non-null    object
 1   Dealer Name  398 non-null    object
 2   Rating       398 non-null    object
 3   Reviews      398 non-null    object
 4   Price        398 non-null    object
dtypes: object(5)
memory usage: 15.7+ KB

## Cleaning Reviews Column

In [24]:
car_dealer['Reviews'] = car_dealer['Reviews'].apply(lambda x: x.strip('reviews)').strip('('))

In [25]:
car_dealer

                       Name            Dealer Name Rating Reviews    Price
0            2022 BMW 330 i       BMW of Roseville    4.7    555   $45,730
1     2018 BMW X3 xDrive30i             Basney BMW    5.0      2   $36,463
2            2021 BMW 330 i           BMW of Vista    4.6    351   $47,120
3            2022 BMW 330 i  Advantage BMW Midtown    4.4    535   $47,090
4            2021 BMW 330 i           BMW of Vista    4.6    351   $46,350
..                      ...                    ...    ...     ...      ...
393   2021 BMW 330 i xDrive               Kuni BMW    4.7  1,347   $47,275
394   2021 BMW X4 xDrive30i       Steve Thomas BMW    4.1    110   $55,560
395          2021 BMW 330 i        BMW of Honolulu    4.5    283   $46,050
396   2022 BMW Z4 sDrive30i         BMW of Norwood    4.8    459   $56,680
397  2022 BMW M340 i xDrive            BMW Seattle    4.8    819   $64,865

[398 rows x 5 columns]

## Storing it to Excel

In [26]:
car_dealer.to_excel('multiple_car_page.xlsx', index = False)